In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import CSV data as pandas dataFrame

In [4]:
df=pd.read_csv('data/stud.csv')

show top 5 record

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

shape of the dataset

In [7]:
df.shape

(1000, 8)

2.2 Dataset Information

* gender: sex of students->(Male/Female)
* race/ethnicity: ethnicity of students group(A/B/C/D/E)
* parental level of education: parent's final education bachelor's degree/some college/master's degree/associate's degree/high school/some high school
* lunch: having lunch before test (standard, free/reduced
* test preparation course: complete or not complete before test
* math score
* reading score
* writing score

3.Data checks to perform

* check missing
* check duplicates
* check datatype
* check the unique value of each column
* check statistics of dataset
* check the categories present in different columns

3.1 check the missing value

In [12]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

There are no missing value in the data set

3.2 check duplicates

In [16]:
df.duplicated().sum()

0

In [ ]:
3.3